*{
	margin:0;
	padding:0;
	font-family: 'Roboto',Helvetica,Arial,sans-serif;  
  
}
body
{
	background: url(../img/bg3.png);
}
.container
{
	max-width: 1500px;
}

 .dropdown-menu
{
	border: none;
	margin-top:1em;
	width: 40em;
	width:100%;
	z-index: 999;
	margin-left: 0; 
	position: absolute;
	left:0;
}

@media screen and (min-width: 0px) and (max-width: 549px) {
  .m1 { display: none; }  
}
@media screen and (min-width: 550px) and (max-width: 5000px) {
  .m1 { display: block; }
}
@media screen and (min-width: 0px) and (max-width: 549px) {
  .m2 { display: block; }  
}
@media screen and (min-width: 550px) and (max-width: 5000px) {
  .m2 { display: none; }
}


.row
{
	margin-top: 0.5em;
}
.navbar-brand a
{
	text-decoration: none;
}

.collapse
{
	border-top: 3px #3d3de2 solid;
	border-bottom: 3px #e89e00 solid;	
}
.nav-link
{
	font-weight: bold
}

.card
{ 
	
	padding:1%;
	/* border: 0px #e89e00 solid; */
}
.card-body
{
	margin:;
	height:100%;
}
.video, .news, .blok
{
	background: url(../img/top2.png) repeat-x;
	background-color:#fff ;
	margin: 0 auto;
}
.video, .news, .zagolovok, .blok
{
	-webkit-box-shadow: 0px 3px 10px -3px rgba(74,74,74,1);
	-moz-box-shadow: 0px 3px 10px -3px rgba(74,74,74,1);
	box-shadow: 0px 3px 10px -3px rgba(74,74,74,1);
}
.zagolovok
{
	padding: 0,5em auto;
}
.news img
{	border: 1px  gray solid;
	width:20%;
	margin-right: 0.2em;
	float:left;
}
.news h5
{	
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0.1em;
	text-align: center;
}
.news p
{
	font-size: 1em;
	text-align:justify;
	text-indent: 0.5em;
	margin: 0;
}
.list-group
{
	overflow: hidden;
}

.n
{
	display:inline-block;

}
.list-group-item:hover
{
	background-color:#e2e2e2;
}

.list-group-item
{ 	display: inline-block;
	padding:0.2em;
	margin-bottom: 0.2em;
	background-color: #eeeeef;

}



.lozung, .lozung1
{
	text-align: center;
	color:#795128;
	font-weight: bold;
	font-size: 1.2em;
	padding-top:1.2em ;
}
.lozung1
{
	color:#3d3de2;
}

/* .menu1
{
	background-color: red;
	margin-left:-2em;
}
.menu2
{
	background-color: green;
	margin-left:-9em;
}
.menu3
{
	background-color: yellow;
	margin-left:-27em;
	
} */


/*karusel bloks start*/
/* Основной блок */
.owl-wrapper-outer {
	border: 0px solid #777;
	border-radius: 0px;
	overflow: hidden;
	background: white;
}

/* 1 квадратик карусели */
.carousel-element {
	background: #ffd79a;
  	padding: 0.5em;
 	margin: 10px;
  	color: #000000;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 0.2em;
  	/* border: 0.2em  #c68d53 solid; */
  	text-align: center;
  	height:20em;
}

.carousel-element img
{
	width:100%;
	margin-bottom: 0.1em;
}
.carousel-element h4
{	font-size: 1.4em;
	color:black;
	display: block;
}

.carousel-element a
{	display: block;
	color: black;
	height:100%;
	text-align: middle;
	border-radius: 0.2em;
	/* border: 1px red solid; */
	background-color: #cc9a66;
	margin-bottom: 0;
}
.carousel-element a:hover
{
	background-color: #ac7439;
	color: #cc9a66;
}
/*karucel end*/

/*konkurs bloks start*/
.blok2karusel {
	border: 0px solid #777;
	border-radius: 0px;
	overflow: hidden;
	background: blue;
	height:100%;
}


/* 1 квадратик карусели */
.konkurs-element 
{	
	padding: 0 auto;
	
}
/*karucel end*/

.konkurs
{ padding:0.5em;
	width:10em;
}

/*footer start*/
.foot
{	background: url(../img/top2.png) repeat-x;
	background-color:#706f6f;
	height:320px;
	margin-bottom:1em;
	-webkit-box-shadow: 0px 3px 10px -3px rgba(74,74,74,1);
	-moz-box-shadow: 0px 3px 10px -3px rgba(74,74,74,1);
	box-shadow: 0px 3px 10px -3px rgba(74,74,74,1);
	padding-top:1.2em;
	fo


}
 .inform, .kontact, .karta
 {
	font-size: 1.2em;
	
}

.kontakt
{


}

.inform2{
    border-left: 2px #4d4d4c solid;
	border-right: 2px #4d4d4c solid;
}

.inform
{
	background: none;
	border:none;
}
.inform h4, .inform h5
{
	text-align: center;
	font-family: Times New Roman;
	color:white;
}

.bl
{
	background:none;
	border-bottom: none;

}
.bl:hover
{
	background:#4d4d4c;
	color:white;

}
.bl a
{
	color:white;
	text-decoration: none;
}

